// Global Variables

$primary: #23A23F;
$primary-light: #73BA75;
$secondary: #FDF3DB;
$tertiary: #E6A393;
$white: #FFFFFF;
$dark-gray: #5B5A5A;
$light-gray: #C5C5C5;
$btn-border-radius: 6px;
$img-border-radius: 9px;
$child-cont-border-radius: 12px;


// Import UI Framework 
@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";
@import "uikit/src/scss/uikit-theme.scss";

// UIKit overrides

.uk-section-secondary {
    background: $dark-gray;
}

dt {
  font-weight: lighter;
}

dd {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}


// Utility classes
.align-center {
  display: flex;
  justify-content: space-between;
}

