<template>
  <div class="home">
    <DashboardComponent/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import DashboardComponent from '@/components/DashboardComponent.vue'; // @ is an alias to /src

export default Vue.extend({
  name: 'HomeView',
  components: {
    DashboardComponent,
  },
});
</script>

<style lang="scss">
@import "@/assets/css/index.scss";

</style>