
<template>
  <div class="">
    <h1>Dashboard</h1>
    <div class="dashboard-parent-cont">
      <!-- START All Checkins -->

      <div class="dashboard-child-cont">
        <h3>All Checkins</h3>
        <dl class="uk-description-list uk-description-list-divider">
          <div
            v-for="(checkIn, index) in reverseSort(ryg)"
            :key="index"
            class="checkin-cont"
          >
            <div class="uk-align-right">
              <span>{{ checkIn.Emotion | formatEmotion }}</span>
              <span>{{ checkIn.Selection | formatSelection }}</span>
            </div>

            <dt>Name</dt>
            <dd @click="filterUser = checkIn.SlackUserId">
              <a>
                {{ checkIn.SlackUserId }}
              </a>
            </dd>

            <dt v-if="checkIn.Elaboration">Elaboration</dt>
            <dd v-if="checkIn.Elaboration">{{ checkIn.Elaboration }}</dd>
            <dt v-if="!checkIn.Elaboration">Elaboration</dt>
            <dd class="uk-text-meta" v-if="checkIn.Elaboration == ''">
              No Elaboration Update Today
            </dd>

            <div class="uk-margin align-center">
              <input
                class="uk-input"
                type="text"
                placeholder="Send something encouraging..."
              />
              <button class="uk-button">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.85046 13.4005C5.74589 13.4005 4.85046 12.5051 4.85046 11.4005V3.40051H2.85046V11.4005C2.85046 13.6097 4.64132 15.4005 6.85046 15.4005H17.156L13.3714 19.1852L14.7856 20.5994L21.1495 14.2354L14.7856 7.87146L13.3714 9.28567L17.4862 13.4005H6.85046Z"
                    fill="#fff"
                  />
                </svg>
              </button>
            </div>

            <hr />

            <div class="align-center">
              <div>
                <dt>Organization</dt>
                <dd>{{ checkIn.SlackOrgId }}</dd>
              </div>
              <div>
                <dt>Team</dt>
                <dd>{{ checkIn.SlackTeamId }}</dd>
              </div>

              <div>
                <dt>Check-In Time</dt>
                <dd>{{ checkIn.Timestamp | formatTime }}</dd>
              </div>
            </div>
          </div>
        </dl>
      </div>
      <!-- END All Checkins -->

      <!-- START More Info -->
      <div class="dashboard-child-cont" v-show="filterUser">
        <h3>More Info | {{ this.filterUser }}</h3>
        <span>🔴 {{ this.userRed }}</span> <br />
        <span>🟡 {{ this.userYellow }}</span> <br />
        <span>🟢 {{ this.userGreen }}</span>
        <dl class="uk-description-list uk-description-list-divider">
          <div v-if="filterUser != ''">
            <div
              v-for="(checkIn, index) in filterByUser"
              :key="index"
              class="checkin-cont"
            >
              <div class="uk-align-right">
                <span>{{ checkIn.Emotion | formatEmotion }}</span>
                <span>{{ checkIn.Selection | formatSelection }}</span>
              </div>

              <dt v-if="checkIn.Elaboration">Elaboration</dt>
              <dd v-if="checkIn.Elaboration">{{ checkIn.Elaboration }}</dd>
              <dt v-if="!checkIn.Elaboration">Elaboration</dt>
              <dd class="uk-text-meta" v-if="checkIn.Elaboration == ''">
                No Elaboration Update Today
              </dd>
              <hr />
              <div class="align-center">
                <div class="">
                  <dt>Organization</dt>
                  <dd>{{ checkIn.SlackOrgId }}</dd>
                </div>
                <div class="">
                  <dt>Team</dt>
                  <dd>{{ checkIn.SlackTeamId }}</dd>
                </div>

                <div class="">
                  <dt>Check-In Time</dt>
                  <dd>{{ checkIn.Timestamp | formatTime }}</dd>
                </div>
              </div>
            </div>
          </div>
        </dl>
      </div>
      <!-- END More Info -->
    </div>
  </div>
</template>

<script lang="ts">
// Disable side effects - irrelevant warning because the values are being reset in the function
/* eslint-disable vue/no-side-effects-in-computed-properties */
import Vue from "vue";
import rygs from "@/assets/json/rygs.json";
import { formatEmotion } from "@/filters/formatEmotion.js";
import { formatSelection } from "@/filters/formatSelection.js";
import { formatTime } from "@/filters/formatTime.js";

export default Vue.extend({
  name: "DashboardComponent",
  props: {},
  methods: {
    // Return array chronologically & sort duplicates
    reverseSort: function () {
      let tempResults = rygs;

      // Remove duplicates from the filtered array
      const ids = tempResults.map((o) => o.Timestamp);
      const sortedAndFilteredResults = tempResults.filter(
        ({ Timestamp }, index) => !ids.includes(Timestamp, index + 1)
      );
      return sortedAndFilteredResults.sort((a, b) => parseInt(a.Timestamp) - parseInt(b.Timestamp)).slice().reverse();
    },
  },
  filters: {
    formatEmotion,
    formatSelection,
    formatTime,
  },
  data() {
    return {
      ryg: rygs,
      filterUser: "",
      userYellow: 0,
      userRed: 0,
      userGreen: 0,
    };
  },
  computed: {
    filterByUser() {
      // Make copy of array, look for matching userId and return only those
      let tempResults = rygs;

      if (this.filterUser != "" && this.filterUser) {
        tempResults = tempResults.filter((item) => {
          return item.SlackUserId.includes(this.filterUser);
        });
      }

      // Remove duplicates from the filtered array
      const ids = tempResults.map((o) => o.Timestamp);
      const sortedAndFilteredResults = tempResults.filter(
        ({ Timestamp }, index) => !ids.includes(Timestamp, index + 1)
      );

      // Reset counters for RYG when a new user is filtered, create all time count of their selections
      this.userRed = 0;
      this.userYellow = 0;
      this.userGreen = 0;
      for (let i in tempResults) {
        if (tempResults[i].Selection == "yellow") {
          this.userYellow = this.userYellow + 1;
        }
        if (tempResults[i].Selection == "red") {
          this.userRed = this.userRed + 1;
        }
        if (tempResults[i].Selection == "green") {
          this.userGreen = this.userGreen + 1;
        }
      }
      // Sort chronologically
      // return sortedAndFilteredResults.slice().reverse();
      return sortedAndFilteredResults.sort((a, b) => parseInt(a.Timestamp) - parseInt(b.Timestamp)).slice().reverse();

    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "@/assets/css/index.scss";

.dashboard-parent-cont {
  background: $white;
  border-radius: $child-cont-border-radius;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
}

.dashboard-child-cont {
  background: $secondary;
  border-radius: $child-cont-border-radius;
  margin: 10px;
  padding: 10px;
  // max-width: 48%;
  min-width: 40%;
  max-height: 70vh;
  overflow-y: scroll;
}

.checkin-cont {
  margin-top: 6px;
  padding: 6px;
  background: $white;
  border-radius: $child-cont-border-radius;

  .uk-input {
    transition: all 0.1s ease-in-out;
    border: 1px solid $light-gray;
    color: $light-gray;
    &:focus {
      border: 1px solid $primary;
      background: $white;
      color: $dark-gray;
    }
  }

  .uk-button {
    transition: all 0.1s ease-in-out;
    background: $light-gray;
    &:hover {
      background: $primary;
    }
  }
}
</style>
