<template>
    <div>
  <div class="footer">
    <footer class="uk-section uk-section-secondary">
      <div class="uk-container">
        <div class="uk-grid uk-grid-small" data-uk-grid>
          <div class="uk-width-1-5@m">
            <img
              src="@/assets/images/dog-logo.png"
              width="50px"
              height="50px"
              alt="Kona Logo"
            />
            <h4>Happy companies start with happy teams.</h4>
          </div>

          <div class="uk-width-1-5@m">
            <h5>Company</h5>
            <ul class="uk-list">
              <li>Our Story</li>
              <li>Contact Us</li>
              <li>Careers</li>
              <li>Press</li>
            </ul>
          </div>
          <div class="uk-width-1-5@m">
            <h5>Product</h5>
            <ul class="uk-list">
              <li>View Demo</li>
              <li>Use Cases</li>
              <li>Case Studies</li>
            </ul>
          </div>
          <div class="uk-width-1-5@m">
            <h5>Get Started</h5>
            <ul class="uk-list">
              <li>Pricing</li>
              <li>Terms</li>
              <li>Security</li>
              <li>FAQ</li>
            </ul>
          </div>
          <div class="uk-width-1-5@m">
            <h5>Resources</h5>
            <ul class="uk-list">
              <li>Blog</li>
              <li>Team Building Guide</li>
              <li>Manager Report 2021</li>
              <li>Manager Newsletter</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "FooterComponent",
  data() {
    return {};
  },
});
</script>
<style lang="scss" scoped>
@import "@/assets/css/index.scss";
</style>
