<template>
  <div>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <router-link to="/">
            <img
              src="../assets/images/text-logo.png"
              width="100"
              height="auto"
              alt="Kona Logo"
            />
          </router-link>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "NavbarComponent",
  data() {
    return {};
  },
});
</script>
<style lang="scss" scoped>
@import "@/assets/css/index.scss";
</style>
