<template>
  <div id="app">
    <NavbarComponent/>
    <div class="router-view">
    <router-view/>
    </div>
    <FooterComponent/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FooterComponent from '@/components/FooterComponent.vue'; // @ is an alias to /src
import NavbarComponent from '@/components/NavbarComponent.vue'; // @ is an alias to /src

export default Vue.extend({
  components: {
    FooterComponent,
    NavbarComponent
  },
});
</script>


<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
  }
}

.router-view {
  padding: 0px 20px 20px 20px;
}
</style>
